
/* *{
margin: 0;
padding: 0;
border: 0;
} */

@import url('https://fonts.maateen.me/bangla/font.css');

/* Now, add your other styles */
.suneditiordiv {
    font-family: 'Bangla', sans-serif;
}

.popmsg{


  width: 0%;
  height: 4.5%;
  background-color: #f2e7e5;
  position: absolute;
  top: 2%;
  right: 0%;
  box-shadow: 3px 2px 10px black;
  transition: all 300ms;
 border-radius: 2px;
 font-size: 70%;
 display: flex;
 justify-content:center;
 align-items: center;
 text-align: center;
 color: rgb(251, 251, 250);
 z-index: 999999999999999999999999999999999999999999999999999999;


}

.popmsgopengreen{
  width: 25%;
  height: 4.5%;
  padding: 1%;
  background-color:rgb(7, 120, 7);
  position: absolute;
  top: 2%;
  right: 1%;
  box-shadow: 3px 2px 10px black;
  transition: all 300ms;
 border-radius: 2px;
 font-size: 80%;
 display: flex;
 justify-content:center;
 align-items: center;
 text-align: center;
 color: rgb(255, 255, 255);
 z-index: 999999999999999999999999999999999999999999999999999999;
}
.popmsgopengreen>:nth-child(1){
  flex: 1;
  float: left;
  width: 100%;
  cursor: pointer;
  color: rgb(255, 242, 0);
  font-size: 130%;
  transition: all 300ms;

}


.popmsgopengreen>:nth-child(1):hover{
  font-size: 150%;

}

.popmsgopengreen>:nth-child(2){
  flex: 7;
  display: flex;
  justify-content: center;
  width: 100%;
  }


.popmsgopenred{
  width: 25%;
  height: 4.5%;
  padding: 1%;
  background-color:rgb(255, 0, 0);
  position: absolute;
  top: 2%;
  right: 1%;
  box-shadow: 3px 2px 10px black;
  transition: all 300ms;
 border-radius: 2px;
 font-size: 80%;
 display: flex;
 justify-content:center;
 align-items: center;
 text-align: center;
 color: rgb(251, 251, 250);
 z-index: 999999999999999999999999999999999999999999999999999999;
}
.popmsgopenred>:nth-child(1){
  flex: 1;
  float: left;
  width: 100%;
  cursor: pointer;
  color: rgb(255, 242, 0);
  font-size: 130%;
  transition: all 300ms;
}


  .popmsgopenred>:nth-child(1):hover{
    font-size: 150%;
  }

  .popmsgopenred>:nth-child(2){
    flex: 7;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .upload_csv_container{
    display: flex;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color:rgb(249, 248, 248);
    /* gap: 4rem; */
    padding-top: 5%;
    /* overflow: auto; */

  }



  .first_cont{
    display: flex;
    width: 80%;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    height: 100%;
    flex-direction: column;
    position: relative;
  }

  .importarea{
    display: flex;
    gap: 2%;
    width: 100%;
    height: 8rem;
    padding-left: 3%;
    justify-content: flex-start;
    text-align: start;
    align-items: flex-start;
    margin-top: 5%;
    font-size: 120%;

  }

  

  .second_cont{
    gap:2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

 
  }

  .uploadarea{
    display: flex;
    gap: 2%;
    width: 100%;
 
    
  }

  .infoarea{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    flex: 2;
    padding-left: 8%;
    width: 100%;
    height: 100%;
   
  }

  .passage{
    display: flex;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 100%;
    padding: 22% 0;
  
   
  }

  .csvuploadarea{
    flex: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
  }

  .field_label2{
    text-align: start;
    display: flex;
    margin-right: 4%;
    width: 90%;
    margin-top: 2%;

  }

  .passage>ol{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .passage>ol>li{
    letter-spacing: 0.5px;
  }

  .textBold{
    font-weight: bold;
  }

  .textred{
    color:#EF5350;
  }


.dragdroparea{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height:25rem;
  cursor: pointer;
  border-radius:5px ;
  border: 2px dashed rgb(84, 84, 91);
  background-color: white;
  cursor: pointer;
  margin-bottom: 10%;
}

.fileinputfield{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  opacity: 0;
  position: relative;
  z-index: 9999999;
  cursor: pointer;
 
  
}

.uploadtextcontainer{
  position: absolute;
 padding: 5%;

  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.uploadedtext2{

  /* flex: 5; */
  padding: 2%;
  background: #f5ecec;
  width: 14rem;
  border-radius:5px;
  box-shadow: 2px -2px  4px black;
  z-index: -999;
/* margin-left: 30%; */
}

.popupfilename{
  flex: 9;
  width: 100%;
}



.uploadbtn2{
  z-index: 99999;
  margin-bottom: 7%;
  padding: 1% 6%;
  border-radius: 2%;
  background: #EF5350;
  outline: none;
  border: none;
  box-shadow: 0px 0px 8px black;
  color: white;
  cursor: pointer;
}

.uploadbtn2:hover{
  box-shadow: 0px 0px 12px black;

}


.top_container2_uploadarea{
  
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items:center;
  text-align: center;
  padding: 1%;
  height: 70%;
  background-color: #efe6e647;
  gap: 4%;
  flex-direction: column;
  border-radius: 1rem;
 
}



.top_leftside2_uploadarea{

width: 100%;
display: flex;
flex: 1;
flex-direction: column;
/* justify-content: center; */
text-align: start;
align-items: flex-start;
height: 100%;


}
.top_rightside_uploadarea{
  display: flex;
  flex: 16;
  width: 100%;
  gap: 20%;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  

}

.uploadtablecontainer{
  width: 80%;
  display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 gap: 4%;
 height: 100%;
}

.top_rightside_uploadarea_last{
  width: 100%;
  display: flex;
  flex: 6;
  float: right;

  height: 100%;
  justify-content: flex-end;
  align-items: center;
  text-align: end;


}

.gaparea{
  width: 100%;
  height: 5rem;
  
}

.tablehead{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.upload_table{
  display: flex;
  width: 90%;
  flex-direction: column;
}

.dataoftable{
  display: flex;
  width: 100%;
  justify-content:space-evenly;
 text-align: start;
 align-items: flex-start;
}

.dataoftable2{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: start;
  align-self: flex-start;
  border: 1px solid black;
  
 
}


.tableholder{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 90%;
  background-color: #EF5350;
  grid-column-gap: 2px;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
  border: 1px solid black;
  margin-left: 0;


}


.tableholder2{
  display: flex;

  width: 100%;

  justify-content: space-between;
  align-items: flex-start;



}
.csvfiledataholder{
  width: 100%;
  height: 30rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}


.tableholder2>span{
  flex:1;
  width: 100%;
  display: flex;
  float: left;
  padding: 1%;
  background-color: #ffffff;
  margin: 1%;
  height: fit-content;
}

#tableheader{
  margin-bottom: 2rem;
  background-color: #69818535;
}


.pdf_container{
  display: flex;
  position: absolute;
  bottom: 0;
  width: 80%;
}


.filenamecontaienr{
  display: flex;
  width: 100%;

}



.chartcontainer{
  display: flex;
  width: 100%;
  height: 100%;
flex-direction: column;
gap: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3%;
}

.chartdiv{

  width: 20px;
  height: 600px;

}

.chartdiv2{

  width: 0px;
  height: 600px;
 margin-top: -26%;

}

.prevbtn{
  height: 1.4rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition:all 300ms;
  border-radius: 2px;
  box-shadow: 2px 2px 10px black;
 cursor: pointer;
 transition: all 300ms;
 color: rgb(45, 44, 44);
}
.prevbtn:hover{
  box-shadow: 2px 2px 14px black;
}






.spinner {
  width: 14px;
  height: 14px;
  border: 2px solid #3498db;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}







.recordloadingboxON {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #3e1d1c4b;
  position: fixed;
  top: 0%;
  left: 0%;
  border-radius: 5px;
  z-index: 9999999999999999999999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 5px 1px 5px black;

  /* backdrop-filter: blur(2px); */
}

.recordloadingboxOFF {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #d81b1b4d;
  position: fixed;
  top: 0%;
  left: 0%;
  border-radius: 5px;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* backdrop-filter: blur(2px); */
}


.recordloadingCustomBox{
  /* box-shadow: 0px 0px 16px rgb(95, 135, 160); */
  border-radius: 5px;
  /* background-color: rgb(255, 255, 255);
   */

  /* background: linear-gradient(280deg, #100a0a, #ffffff);
  box-shadow:  -7px -7px 14px #4a502064,
              7px 7px 14px #1b444a; */
  display: flex;
  color: #000000;
  width: 25%;
  height: 22%;
  font-size: 12px;
  padding: 4px;
  flex-direction: column;
  /* gap: 2px; */
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;
}

  .cusboxmessagebox{
    box-shadow: 0px 0px 6px black;
    border-radius: 2px;
    background-color: white;
    display: flex;
    color: #000000;
    width: 95%;
    height: 92%;
    font-size: 8px;
    padding: 4px;
    flex-direction: column;
    /* gap: 2px; */
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .loadingscreenContaineron{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 13, 13, 0.206);
    z-index: 9999998;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    visibility: visible;
    opacity: 1;
    animation: fadeInOut  300ms ease backwards; 
  }
  
  @keyframes fadeInOut {
    0% {
      visibility: hidden;
      opacity: 0%;
    }
   
    100% {
      visibility: visible;
      opacity: 100%;
    }
  }

  .loadingscreenContaineroff{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 13, 13, 0.206);
    z-index: 9999999998;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    /* transform: scale(0); */
    opacity: 0;
    animation: fadeInOutoff  300ms ease backwards; /* Use CSS animation */
  }
  
  @keyframes fadeInOutoff {
    0% {
      visibility: visible;
      opacity: 100%;
      
    }
  
    100% {
      visibility: hidden;
      opacity: 0%;
    }
  }

  .customloadingdiv{
    /* box-shadow: 0px 0px 16px black; */
    border-radius: 2px;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    color: #000000;
    width: 25%;
    height: 22%;
    font-size: 12px;
    padding: 4px;
    /* gap: 2px; */
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .customloadingfirst{
    /* flex: 30%; */
    width: 100%;
    height: 100%;
    display:flex ;
    /* background-color: #0e0e97; */
    justify-content: center;
    align-items: flex-start;
  }

  .customloadingsecond{
    /* flex: 70%; */
    width: 100%;
    height: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;font-size: 2rem;
    /* background-color: #0e0e97; */
  }


  .cusboxfirstdiv{
    flex: 30%;
    width: 100%;
    height: 100%;
    display:flex ;
    /* background-color: #0e0e97; */
  }

  .cusboxmiddlediv{
    flex: 2%;
    width: 95%;
    height: 100%;
    display:flex ;
    background-color: #C4C4C4;
  }

  .cusboxseconddiv{
    /* background-color: rgb(255, 242, 0); */
    flex: 49%;
    width: 100%;
    height: 100%;
    display:flex ;
    flex-direction: column;
  }

  .cusboxthirddiv{
    /* background-color: rgb(233, 155, 9); */
    flex: 20%;
    width: 100%;
    height: 100%;
    display:flex ;
  }


.blur_background_on{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(1);
  background-color: rgb(17, 13, 13);
  /* backdrop-filter: blur(2px); */
  opacity: 20%;
  z-index: 9998;
}


.blur_background_off{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(0);
  background-color: rgba(61, 57, 57, 0.162);
  /* backdrop-filter: blur(5px); */
  z-index: 9998;
}




.load_wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  /* float: left; */
  width: 100%;
  height: 100%;
  margin: 0 10px 10px 0;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #d8d8d800;
}

.load_wrapp p {
  padding: 0 0 20px;
}
.load_wrapp:last-child {
  margin-right: 0;
}

.ring_1 {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  padding: 10px;
  border: 7px dashed #ef5350;
  border-radius: 100%;
}


.load_4 .ring_1 {
  animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}


.l_4 {
  animation-delay: 0.84s;
}


@keyframes loadingD {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}